// Заголовки, загальні БЕМ блоки та інше...

.swiper-slide {
  height: auto;
}

//========================================================================================================================================================

.swiper-pagination {
  display: flex;
  align-items: center;
  column-gap: rem(8);
}
.swiper-pagination-bullet {
  cursor: pointer;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.8);
}

//========================================================================================================================================================

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: rem(20);
  font-size: rem(20);

  &_small {
    font-size: rem(12);
  }
  &_slider {
    @include adaptiveValue("font-size", 20, 12);
    @include adaptiveValue("column-gap", 20, 10);
  }
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    &::before {
      @extend %ic;
    }
    &::after {
      content: "";
      position: absolute;
      top: rem(-6);
      left: rem(-6);
      bottom: rem(-6);
      right: rem(-6);
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &.swiper-button-disabled {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
.btn-prev {
  transform: rotate(-180deg);
  &::before {
    content: "\e90b";
  }
}
.btn-next {
  &::before {
    content: "\e90b";
  }
}

//========================================================================================================================================================

.swiper-scrollbar {
  position: relative;
  display: block;
  width: 100%;
  height: rem(3);
  @include adaptiveValue("margin-top", 50, 40);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: rem(1);
    top: rem(1);
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}

.swiper-scrollbar-drag {
  position: relative;
  cursor: grab;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: rem(-4);
    top: rem(-4);
  }
}

//========================================================================================================================================================

.price {
  display: flex;
  align-items: center;
  column-gap: rem(10);
  &__current {
    color: #000;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 700;
    &.sale {
      color: #ed1c24;
    }
  }

  &__old {
    color: rgba(0, 0, 0, 0.5);
    @include adaptiveValue("font-size", 14, 10);
    text-decoration-line: line-through;
  }
}

//========================================================================================================================================================

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(15);
  margin-bottom: rem(40);

  &__title {
    max-width: rem(800);
    position: relative;
    @include adaptiveValue("font-size", 24, 14);
    line-height: 137.5%; /* 33/24 */
    letter-spacing: 0.96px;
    padding-left: rem(112);

    @media (max-width: $mobile) {
      padding-left: rem(65);
    }

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      background: #ff9fde;
      display: block;
      position: absolute;
      @include adaptiveValue("top", 16, 7);
      right: calc(100% - 102px);

      @media (max-width: $mobile) {
        right: calc(100% - 55px);
      }
    }
  }

  &__link {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    line-height: 141.7%; /* 17/12 */
    letter-spacing: 0.48px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: rem(10);
    transition: all 0.3s ease 0s;

    &::before {
      font-size: rem(10);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
}

//========================================================================================================================================================

.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include adaptiveValue("font-size", 14, 12);
    line-height: 121.4%; /* 17/14 */
    color: rgba(0, 0, 0, 0.7);
  }

  &__link {
    position: relative;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #000;

        &::before {
          opacity: 1;
        }
      }
    }

    &::after {
      content: "\e901";
      @extend %ic;
      margin: 0 rem(10);
      font-size: rem(10);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: rem(2);
      left: 0;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #000;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }

  &__current {
  }
}
