//====================================================================================================
.hero {
  &__container {
  }

  &__body {
  }

  &__slider {
    position: relative;
    margin-bottom: rem(31);

    @media (max-width: $mobile) {
      margin-right: rem(-20);
      margin-left: rem(-20);
    }

    .swiper-pagination {
      z-index: 11;
      position: absolute;
      bottom: rem(10);
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: $mobile) {
        display: none;
      }
    }
  }

  &__slide-ibg {
    padding-bottom: percent(442, 1270);

    @media (max-width: $mobile) {
      padding-bottom: percent(291, 375);
    }
  }

  &__items {
    counter-reset: item;

    @media (max-width: $pc) {
      margin: 0 rem(-20);
      padding: 0 rem(20);
    }
  }

  &__item {
    height: auto;
    position: relative;
    font-family: Century Gothic;
    @include adaptiveValue("font-size", 14, 10);
    letter-spacing: 0.56px;
    text-align: center;
    color: #000;
    border-radius: 6px;
    border: 1px solid #ff9fde;
    padding: rem(26) rem(25);

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile) {
      padding: rem(10) rem(23);
      min-height: rem(64);
    }

    &::before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(255, 159, 222, 0.2);
      @include adaptiveValue("font-size", 74, 54);
      font-weight: 700;
    }
  }
  &__navigation {
    margin-top: rem(30);

    @media (min-width: $mobile) {
      display: none;
    }
  }
}

//====================================================================================================

.product-block {
  &__container {
  }

  &__body {
    padding: rem(50) 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(15);
    margin-bottom: rem(40);
  }

  &__title {
    position: relative;
    font-size: 24px;
    line-height: 137.5%; /* 33/24 */
    letter-spacing: 0.96px;
    padding-left: rem(112);

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      background: #ff9fde;
      display: block;
      position: absolute;
      top: 50%;
      right: calc(100% - 102px);
      //   left: 0;
      transform: translateY(-50%);
    }
  }

  &__navigation {
  }
}

.navigation {
  &__btn {
  }
}
.btn-prev {
}
.btn-next {
}

//========================================================================================================================================================

.product-slider {
  .swiper-scrollbar {
    margin-top: rem(50);
  }
}

.product-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__images-ibg {
    position: relative;
    padding-bottom: percent(370, 280);
    margin-bottom: rem(20);
    overflow: hidden;

    & a {
      @media (any-hover: hover) {
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }

    img {
      transition: all 0.3s ease 0s;
    }
  }

  &__labels {
    position: absolute;
    top: rem(20);
    right: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }

    &.active {
      &::before {
        content: "\e908";
      }
    }

    &::before {
      font-size: rem(18);
      color: #000000;
    }
  }

  &__info {
    flex: 1 1 auto;
    margin-bottom: rem(16);
  }

  &__title {
    font-size: 16px;
    font-family: Century Gothic;
    margin-bottom: rem(10);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__materials {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
  }

  &__price {
  }
}

//========================================================================================================================================================
