//====================================================================================================
.hero {
  &__container {
  }

  &__body {
  }

  &__slider {
    position: relative;
    margin-bottom: rem(31);

    @media (max-width: $mobile) {
      margin-right: rem(-20);
      margin-left: rem(-20);
    }

    .swiper-pagination {
      z-index: 11;
      position: absolute;
      bottom: rem(10);
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: $mobile) {
        display: none;
      }
    }
  }

  &__slide-ibg {
    padding-bottom: percent(442, 1270);

    @media (max-width: $mobile) {
      padding-bottom: percent(291, 375);
    }
  }

  &__items {
    counter-reset: item;

    @media (max-width: $pc) {
      margin: 0 rem(-20);
      padding: 0 rem(20);
    }
  }

  &__item {
    height: auto;
    position: relative;
    font-family: Century Gothic;
    @include adaptiveValue("font-size", 14, 10);
    letter-spacing: 0.56px;
    text-align: center;
    color: #000;
    border-radius: 6px;
    border: 1px solid #ff9fde;
    padding: rem(26) rem(25);

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile) {
      padding: rem(10) rem(23);
      min-height: rem(64);
    }

    &::before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(255, 159, 222, 0.2);
      @include adaptiveValue("font-size", 74, 54);
      font-weight: 700;
    }
  }
  &__navigation {
    margin-top: rem(30);

    @media (min-width: $mobile) {
      display: none;
    }
  }
}

//====================================================================================================

.product-block {
  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 50, 30);
  }

  &__top {
  }

  &__items {
  }

  &__navigation {
  }

  &__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    @include adaptiveValue("margin-top", 60, 50);

    @media (max-width: $mobile) {
      min-width: rem(228);
    }
  }
}

.product-items {
  display: grid;
  column-gap: rem(15);
  row-gap: rem(40);

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $mobile) {
    column-gap: rem(25);
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $tablet) {
    column-gap: rem(35);
  }
  @media (min-width: $pc) {
    column-gap: rem(50);
    grid-template-columns: repeat(4, 1fr);
  }
}

//========================================================================================================================================================

.product-slider {
  overflow: visible;
}

.product-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__images-ibg {
    position: relative;
    padding-bottom: percent(370, 280);
    @include adaptiveValue("margin-bottom", 20, 10);
    overflow: hidden;

    & a {
      @media (any-hover: hover) {
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }

    img {
      transition: all 0.3s ease 0s;
    }
  }

  &__labels {
    position: absolute;
    @include adaptiveValue("top", 20, 10);
    @include adaptiveValue("right", 20, 10);
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("width", 42, 25);
    @include adaptiveValue("height", 42, 25);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }

    &.active {
      &::before {
        content: "\e908";
      }
    }

    &::before {
      @include adaptiveValue("font-size", 18, 12);
      color: #000000;
    }
  }

  &__info {
    flex: 1 1 auto;
    @include adaptiveValue("margin-bottom", 16, 12);
  }

  &__title {
    @include adaptiveValue("font-size", 16, 12);
    font-family: Century Gothic;
    @include adaptiveValue("margin-bottom", 10, 6);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__materials {
    color: rgba(0, 0, 0, 0.7);
    @include adaptiveValue("font-size", 16, 10);
  }

  &__price {
  }
  &__button {
    margin-top: rem(28);
  }
}

//========================================================================================================================================================

.types {
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  &__container {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (max-width: $mobile) {
      margin: 0 rem(-20);
    }
  }

  &__item-ibg {
    position: relative;
    display: block;
    &_big {
      grid-column: span 1;
      grid-row: span 2;
      padding-bottom: 100%;
    }
  }

  &__text {
    position: absolute;
    @include adaptiveValue("right", 40, 10);
    @include adaptiveValue("bottom", 10, 0);
    color: #fff;
    @include adaptiveValue("font-size", 40, 14);
    line-height: 122.5%; /* 49/40 */
    letter-spacing: 1.6px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &::before {
      @include adaptiveValue("font-size", 42, 12);
    }

    &_left {
      @include adaptiveValue("left", 40, 10);
      right: auto;
    }
  }
}

.left {
}

//========================================================================================================================================================

.reviews {
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);

  &__container {
  }

  &__top {
  }

  &__navigation {
  }
}

.reviews-slider {
  @media (max-width: $mobile) {
    margin: 0 rem(-20);
    padding: 0 rem(20);
  }

  .swiper-slide {
    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.links {
  &__container {
    display: flex;
  }

  &__top {
  }

  &__title {
    max-width: rem(568);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(10);

    @media (max-width: $mobile) {
      gap: rem(15);
      grid-template-columns: repeat(2, 1fr);
      padding: 0 rem(20);
    }
  }

  &__item-ibg {
    padding-bottom: 100%;

    &_hide {
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    justify-self: flex-end;
    display: inline-block;
    margin-left: auto;
    @include adaptiveValue("margin-top", 20, 10);
    @include adaptiveValue("font-size", 20, 12);
    line-height: 125%; /* 25/20 */

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: rem(2);
      bottom: 0;
      left: 0;
      background-color: #000;
      display: none;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          display: block;
        }
      }
    }
  }
}

//========================================================================================================================================================

.about {
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 70, 40);

  &__container {
  }

  &__top {
  }

  &__body {
    display: flex;
    column-gap: rem(60);
    @include adaptiveValue("column-gap", 60, 30, 1, 1270, 767);

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      row-gap: rem(50);
    }
  }

  &__text {
    color: rgba(0, 0, 0, 0.7);
    @include adaptiveValue("font-size", 18, 14);
    line-height: 122.2%; /* 22/18 */

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 15);
      }
    }
  }

  &__image-ibg {
    padding-bottom: percent(472, 1270);

    @media (min-width: $mobile) {
      flex: 1 0 percent(550, 1270);
    }
    @media (max-width: $mobile) {
      padding-bottom: 96.4%;
      margin: 0 rem(-20);
    }
  }
}
.top-block {
  &__title {
  }
}
