//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(20) rem(46);
  @include adaptiveValue("padding-top", 20, 13);
  @include adaptiveValue("padding-bottom", 20, 13);
  color: #000;
  @include adaptiveValue("font-size", 14, 12);
  line-height: 121.4%; /* 17/14 */
  font-family: Century Gothic;
  letter-spacing: 0.56px;

  border-radius: 6px;
  border: 1px solid #ff9fde;
  background: #ff9fde;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background: rgba(255, 159, 222, 0.8);
    }
  }
  &._fw {
    width: 100%;
  }
}

button {
  touch-action: manipulation;
}
