//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: rem(15) rem(30);
  border: 1px solid rgba(0, 0, 0, 0.7);
  @include adaptiveValue("height", 50, 45);

  color: rgba(0, 0, 0, 0.7);
  @include adaptiveValue("font-size", 16, 12);
  line-height: 125%; /* 20/16 */
  letter-spacing: 0.64px;
  transition: all 0.3s ease 0s;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 1);
  }

  &._form-focus {
  }
  &._form-error {
  }
}
input {
  touch-action: manipulation;
  &:focus {
    outline: none;
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  min-height: rem(115);
  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
  }
}
